Repository hubmcp/registry, changes with the owners that CODEOWNERS names for each.
All owners: @hubmcp/registry-maintainers, @hubmcp/schema-maintainers, @hubmcp/community-contributors, @hubmcp/ci-team, @hubmcp/docs-team

feat: add parse script and migrate example entries to new schema format
  entries/2025-05-07.json
  entries/README.md
  entries/example-mcp.json
  package.json
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors, @hubmcp/docs-team

refactor: update GitHub workflow to copy entire dist folder instead of single file
  .github/workflows/validate-and-build.yml
  entries/2025-05-07T22:06:02.814Z.json
  src/build-index.js
  src/parse.js
Owners: @hubmcp/ci-team, @hubmcp/registry-maintainers, @hubmcp/community-contributors

ci: add debug steps to inspect dist folder contents and git status
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

ci: update git auto-commit workflow to handle all dist files
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

fix: correct file pattern for gh-pages deployment in workflow
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

chore: update dist
  dist/index.v1.json
Owners: @hubmcp/registry-maintainers

Delete dist/index.json
  dist/index.json
Owners: @hubmcp/registry-maintainers

refactor: remove score and verified fields from entry parsing
  entries/2025-05-08T08:42:27.945Z.json
  entries/README.md
  schema/v1/metadata.schema.json
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors, @hubmcp/docs-team

feat: add removeEmptyFields helper to clean null/empty values from schema conversion
  entries/2025-05-08T08:45:55.324Z.json
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

chore: remove outdated registry entries from 2025-05-07 and 2025-05-08
  entries/2025-05-07T22:06:02.814Z.json
  entries/2025-05-08T08:42:27.945Z.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

docs: update README with contribution guidelines and usage examples
  README.md
Owners: @hubmcp/docs-team

docs: update example entry link in README to point to entries/README.md
  README.md
  entries/2025-05-08T08:45:55.324Z.json
Owners: @hubmcp/docs-team, @hubmcp/registry-maintainers, @hubmcp/community-contributors

docs: update registry index URL to use production domain
  README.md
Owners: @hubmcp/docs-team

docs: clarify filename format requirements in README
  README.md
Owners: @hubmcp/docs-team

feat: update registry entries and metadata schema with new package listings
  entries/2025-05-08T08:45:55.324Z.json
  entries/2025-05-08T09:27:43.199Z.json
  schema/v1/metadata.schema.json
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

feat: update registry entries with new package metadata and commands
  entries/2025-05-08T09:32:47.937Z.json
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

refactor: simplify command schema by removing required fields and renaming is_required to required
  entries/2025-05-08T11:05:08.762Z.json
  schema/v1/metadata.schema.json
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

chore: update dist
  dist/index.v1.json
Owners: @hubmcp/registry-maintainers

refactor: simplify named arguments schema by consolidating boolean flags into single required field
  entries/README.md
Owners: @hubmcp/docs-team

docs: add transport examples for stdio and SSE to README
  entries/README.md
Owners: @hubmcp/docs-team

docs: update contribution section title and remove example PR entry
  README.md
Owners: @hubmcp/docs-team

fix: force add dist files to git using -f flag during workflow
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

refactor: remove id fields from entry parsing in parse.js
  entries/2025-05-08T11:05:08.762Z.json
  entries/2025-05-08T18:40:38.513Z.json
  entries/README.md
  schema/v1/metadata.schema.json
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors, @hubmcp/docs-team

feat: add initial registry index and remove dist from gitignore
  .gitignore
  dist/index.v1.json
Owners: @hubmcp/registry-maintainers

fix: add force flag to git-auto-commit action in workflow
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

chore: update dist
  dist/index.v1.json
Owners: @hubmcp/registry-maintainers

chore: delete index.v1.json from mcpregistry/index/dist
  dist/index.v1.json
Owners: @hubmcp/registry-maintainers

chore: add dist folder to gitignore while keeping .gitkeep file
  .gitignore
Owners: @hubmcp/registry-maintainers

fix: support both array and object types in metadata schema and parser
  schema/v1/metadata.schema.json
  src/build-index.js
Owners: @hubmcp/registry-maintainers

chore: update dist
  dist/index.v1.json
Owners: @hubmcp/registry-maintainers

refactor: remove multiple MCP server entries from registry index
  entries/2025-05-08T18:40:38.513Z.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

chore: update dist
  dist/index.v1.json
Owners: @hubmcp/registry-maintainers

feat: reorganize seed data with date-based filenames and update schema metadata
  data/seed_2025-05-07.json
  data/seed_2025-05-16.json
  entries/README.md
  schema/v1/metadata.schema.json
Owners: @hubmcp/registry-maintainers, @hubmcp/docs-team

feat: update seed file path and add new 2025 entries data
  data/seed_2025_05_16.json
  entries/README.md
  src/build-index.js
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/docs-team

refactor: simplify package mapping and environment variable handling in parse.js
  entries/2025-05-08T18:40:38.513Z.json
  entries/2025-05-18T21:48:15.589Z.json
  schema/v1/metadata.schema.json
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

fix: remove semver format validation from version field in metadata schema
  schema/v1/metadata.schema.json
Owners: @hubmcp/registry-maintainers

fix: update metadata schema to allow string arguments and enforce array type
  schema/v1/metadata.schema.json
Owners: @hubmcp/registry-maintainers

refactor: update registry entries and parse.js implementation
  entries/2025-05-18T23:01:16.603Z.json
  src/parse.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

feat: add initial index registry data and update gitignore to track dist folder
  .gitignore
  dist/index.v1.json
Owners: @hubmcp/registry-maintainers

chore: update dist
  dist/index.v1.json
Owners: @hubmcp/registry-maintainers

CODEOWNERS:

# CODEOWNERS for hubmcp/registry

# General ownership
*                             @hubmcp/registry-maintainers

# Schema
/schema/metadata.schema.json @hubmcp/schema-maintainers

# Entries
/entries/                     @hubmcp/registry-maintainers @hubmcp/community-contributors

# GitHub workflows
.github/workflows/            @hubmcp/ci-team

# Documentation
README.md                     @hubmcp/docs-team
CONTRIBUTING.md               @hubmcp/docs-team
