Repository hubmcp/registry, changes with the owners that CODEOWNERS names for each.
All owners: @hubmcp/registry-maintainers, @hubmcp/schema-maintainers, @hubmcp/community-contributors, @hubmcp/ci-team, @hubmcp/docs-team

CODEOWNERS:

# CODEOWNERS for hubmcp/registry

# General ownership
*                             @hubmcp/registry-maintainers

# Schema
/schema/metadata.schema.json @hubmcp/schema-maintainers

# Entries
/entries/                     @hubmcp/registry-maintainers @hubmcp/community-contributors

# GitHub workflows
.github/workflows/            @hubmcp/ci-team

# Documentation
README.md                     @hubmcp/docs-team
CONTRIBUTING.md               @hubmcp/docs-team

feat: add custom JSON schema validator with ajv-formats support
  .gitignore
  package.json
  validate.js
Owners: @hubmcp/registry-maintainers

Add type:module to package.json for ES module support
  package.json
Owners: @hubmcp/registry-maintainers

Convert ES modules to CommonJS require syntax
  build-index.js
  package.json
Owners: @hubmcp/registry-maintainers

Move validation and build scripts to src directory with updated paths
  package.json
  src/build-index.js
  src/validate.js
Owners: @hubmcp/registry-maintainers

Add example MCP package and enable dist folder tracking
  .gitignore
  dist/index.json
  entries/example-mcp.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

Update git-auto-commit branch from gh-pages to main
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

Remove empty index.json file from dist directory
  dist/index.json
Owners: @hubmcp/registry-maintainers

Restore dist/ directory to gitignore patterns
  .gitignore
Owners: @hubmcp/registry-maintainers

chore: enable dist folder tracking and improve build workflow
  .github/workflows/validate-and-build.yml
  .gitignore
  dist/.gitkeep
Owners: @hubmcp/ci-team, @hubmcp/registry-maintainers

ci: configure git auto-commit to push index.json back to main branch
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

Update branch from main to gh-pages for dist/index.json auto-commit
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

Update workflow to commit index.json to gh-pages branch with git history
  README.md
Owners: @hubmcp/docs-team

Add step to remove old dist/index.json and update README link
  .github/workflows/validate-and-build.yml
  README.md
Owners: @hubmcp/ci-team, @hubmcp/docs-team

chore: update dist/index.json
  dist/index.json
Owners: @hubmcp/registry-maintainers

Update README.md file formatting with newline at end of file
  README.md
Owners: @hubmcp/docs-team

Update git clean command and fix README formatting
  .github/workflows/validate-and-build.yml
  README.md
Owners: @hubmcp/ci-team, @hubmcp/docs-team

Uncomment gh-pages branch checkout step in GitHub workflow
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

Bump version from 0.1.0 to 0.1.1
  entries/example-mcp.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

Add sseEndpoint field to registry schema and example MCP entry
  entries/example-mcp.json
  schema/metadata.schema.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors, @hubmcp/schema-maintainers

Comment out git clean command in validate-and-build workflow
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

Remove gh-pages checkout and uncomment git clean command in workflow
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

Add workflow steps to copy and commit index.json to gh-pages branch
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

Add cleanup step to remove dist/index.json before switching branches
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

chore: update dist/index.json
  dist/index.json
Owners: @hubmcp/registry-maintainers

Remove redundant comments and cleanup GitHub workflow configuration
  .github/workflows/validate-and-build.yml
Owners: @hubmcp/ci-team

Create CNAME
  CNAME
Owners: @hubmcp/registry-maintainers

Update registry URL to use relative path in README.md
  README.md
Owners: @hubmcp/docs-team

Add GitHub metrics and verified status fields to MCP metadata schema
  entries/example-mcp.json
  schema/metadata.schema.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors, @hubmcp/schema-maintainers

chore: update dist/index.json
  dist/index.json
Owners: @hubmcp/registry-maintainers

Bump version from 0.1.1 to 0.1.2
  entries/example-mcp.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

chore: update dist/index.json
  dist/index.json
Owners: @hubmcp/registry-maintainers

Update CNAME
  CNAME
Owners: @hubmcp/registry-maintainers

chore: bump example-mcp version to 0.1.3 and update repo URLs
  README.md
  entries/example-mcp.json
Owners: @hubmcp/docs-team, @hubmcp/registry-maintainers, @hubmcp/community-contributors

chore: update dist/index.json
  dist/index.json
Owners: @hubmcp/registry-maintainers

chore: update example-mcp package version and repository URL
  entries/example-mcp.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

chore: update dist/index.json
  dist/index.json
Owners: @hubmcp/registry-maintainers

refactor: restructure schema versioning and validation system with v1 schema implementation
  .gitignore
  entries/example-mcp.json
  schema/metadata.schema.json
  schema/v1/metadata.schema.json
  schema/v2/.gitkeep
  src/build-index.js
  src/validate.js
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors, @hubmcp/schema-maintainers

feat: restructure example MCP package with detailed command and environment configuration
  data/seed.json
  entries/example-mcp.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

refactor: remove redundant URLs and add remote transport configuration
  entries/example-mcp.json
Owners: @hubmcp/registry-maintainers, @hubmcp/community-contributors

refactor: update metadata schema to support packages and remotes while removing legacy fields
  schema/v1/metadata.schema.json
Owners: @hubmcp/registry-maintainers
